<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20 pb-10 border-b">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Servicios</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">En la Piñatería, ofrecemos una amplia gama de servicios para hacer de tu evento una experiencia inolvidable. Desde la creación de piñatas temáticas totalmente personalizadas hasta divertidos talleres de manualidades para todas las edades, estamos comprometidos a brindarte productos y actividades que agreguen diversión y creatividad a tu celebración. Además, nuestro servicio de alquiler de piñatas y accesorios te ofrece una solución conveniente y asequible para satisfacer tus necesidades de entretenimiento. ¡Contáctanos hoy mismo y déjanos hacer realidad tus sueños de fiesta!</p>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-emerald-300 text-indigo-500 flex-shrink-0">
        <img src="../../../assets/img/resources/pinata.png" alt="">
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Personalización de Piñatas Temáticas</h2>
        <p class="leading-relaxed text-base">Ofrecemos un servicio completo de personalización de piñatas temáticas para todo tipo de eventos y celebraciones. Nuestro equipo de expertos artesanos trabajará contigo para crear la piñata perfecta que se adapte a la temática de tu fiesta, ya sea un personaje de película, un superhéroe, un animal o cualquier otro diseño personalizado que desees. Desde el diseño inicial hasta el acabado final, nos encargaremos de cada detalle para asegurarnos de que tu piñata sea única y memorable.</p>
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Talleres de Manualidades y Decoración de Piñatas</h2>
        <p class="leading-relaxed text-base">Organizamos divertidos talleres de manualidades y decoración de piñatas para niños y adultos. En nuestros talleres, aprenderás técnicas creativas para decorar y personalizar tus propias piñatas utilizando una variedad de materiales y adornos coloridos. Nuestros instructores expertos te guiarán paso a paso a través del proceso de creación, ¡garantizando una experiencia divertida y educativa para todos!</p>
      </div>
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-emerald-300 text-indigo-500 flex-shrink-0">
        <img src="../../../assets/img/resources/aprendizaje-electronico.png" alt="">
      </div>
    </div>
    <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-rose-300 text-indigo-500 flex-shrink-0">
        <img src="../../../assets/img/resources/vispera-de-todos-los-santos.png" alt="">
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-gray-900 text-lg title-font font-medium mb-2">Servicio de Alquiler de Piñatas y Accesorios para Eventos</h2>
        <p class="leading-relaxed text-base">Ofrecemos un servicio de alquiler de piñatas y accesorios para todo tipo de eventos, desde fiestas de cumpleaños hasta bodas y eventos corporativos. Contamos con una amplia selección de piñatas listas para usar en una variedad de diseños y tamaños, así como accesorios adicionales como palos y vendas para juegos de romper la piñata. Nuestro servicio de alquiler es conveniente y asequible, ¡perfecto para hacer de tu evento un éxito sin complicaciones!</p>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="../../../assets/img/resources/people1.jpg">
          <p class="leading-relaxed">"¡Increíble servicio! Realmente disfruté de mi experiencia en la piñatería MIKYS. Sus piñatas personalizadas son simplemente asombrosas y añadieron una chispa única a mi evento. ¡Definitivamente los recomendaría!"</p>
          <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Andres Martinez</h2>
          <p class="text-gray-500">Cliente Satisfecho</p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 mb-6 p-4">
        <div class="h-full text-center">
          <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="../../../assets/img/resources/people2.jpg">
          <p class="leading-relaxed">"¡MIKYS es simplemente increíble! Sus talleres de manualidades son divertidos y educativos. Disfruté mucho creando mi propia piñata y definitivamente volveré por más diversión y creatividad."</p>
          <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Karen Salazar</h2>
          <p class="text-gray-500">Asistente al taller</p>
        </div>
      </div>
      <div class="lg:w-1/3 lg:mb-0 p-4">
        <div class="h-full text-center">
          <img alt="testimonial" class="w-20 h-20 mb-8 object-cover object-center rounded-full inline-block border-2 border-gray-200 bg-gray-100" src="../../../assets/img/resources/people3.jpg">
          <p class="leading-relaxed">"He estado alquilando piñatas en MIKYS durante años y nunca me han decepcionado. Su atención al cliente es excepcional y siempre están dispuestos a adaptarse a mis necesidades. ¡Gracias por hacer mis fiestas tan especiales!"</p>
          <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-6 mb-4"></span>
          <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">Cristian Rodriguez</h2>
          <p class="text-gray-500">Cliente Leal</p>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="text-gray-600 body-font relative z-0">
  <div class="absolute inset-0 bg-gray-300">
    <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no" src="https://maps.google.com/maps?width=100%&height=600&hl=en&q=Espinal%20Tolima&ie=UTF8&t=&z=14&iwloc=B&output=embed" style="filter: grayscale(1) contrast(1.2) opacity(0.4);"></iframe>
  </div>
  <div class="container px-5 py-24 mx-auto flex">
    <div class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
      <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Contactanos</h2>
      <p class="leading-relaxed mb-5 text-gray-600"> ¡Contacta con nosotros en la Piñatería para obtener las mejores piñatas personalizadas y accesorios para tu evento! </p>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600">Correo</label>
        <input type="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="relative mb-4">
        <label for="message" class="leading-7 text-sm text-gray-600">Mensaje</label>
        <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
      </div>
      <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Enviar</button>
      <p class="text-xs text-gray-500 mt-3">*Para garantizar una experiencia fluida y satisfactoria, por favor asegúrate de proporcionarnos la información completa sobre tu evento, incluyendo la fecha, el lugar y cualquier solicitud especial que tengas para las piñatas personalizadas. Además, ten en cuenta que los pedidos personalizados pueden requerir un tiempo de preparación, por lo que te recomendamos ponerte en contacto con nosotros al menos con dos semanas de anticipación para asegurar la disponibilidad y la entrega puntual de tus piñatas. ¡Estamos aquí para hacer tu evento aún más especial y esperamos trabajar contigo!</p>
    </div>
  </div>
</section>
