<header class="text-gray-600 body-font fixed-nav z-50 w-full bg-orange-100 bg-lime-100">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <div class="h-20 w-20 flex items-center justify-center bg-indigo-500 rounded-full overflow-hidden">
        <img class="h-auto w-full" src="../../../assets/img/logo/4542395.jpg" alt="Logo">
      </div>
      <span class="ml-3 text-xl">Piñateria</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" routerLink="/home" ng-reflect-route-link="home" routerLinkActive="active">Inicio</a>
      <a class="mr-5 hover:text-gray-900" routerLink="/users" ng-reflect-route-link="users" routerLinkActive="active">Usuarios</a>
      <a class="mr-5 hover:text-gray-900" routerLink="/users/create" ng-reflect-route-link="users/create" routerLinkActive="active">Crear Usuarios</a>
    </nav>
    <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" routerLink="/login" ng-reflect-route-link="login" routerLinkActive="active">Iniciar Sesión
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
